<h1><%= @power.name %></h1>

<br>
<label for="name">Power Name: </label>
<%= @power.name %>
<br>
<label for="description">Description: </label>
<%= @power.description %>
<br>
<br>
<%= link_to "Back to Main Menu", heroines_path %>